@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: #d53369;
    --background-end-rgb: #daae51;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  height: 100vh;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,900");

.main-menu {
  position: fixed;
  top: -50%;
  left: -50%;
  height: 200%;
  width: 200%;
 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  visibility: hidden;
  z-index: 2;
  transform: rotate(-15deg) translate3d(0, 0, 0);
}

.main-menu::before,
.main-menu::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  width: 100%;
  height: 80%;
  /* background-color: #9b00b7; */
  transform-origin: center center;
  transition: all 500ms ease;
  will-change: transform;
  z-index: -1;
}

.main-menu::before {
  top: 51%;
  transform: translate(100%, -100%) translate3d(0, 0, 0);
}

.main-menu::after {
  top: 49%;
  transform: translate(-150%, 0%) translate3d(0, 0, 0);
  transition-delay: 100ms;
}

.main-menu .nav {
  position: relative;
  display: inline-block;
  padding: 0px;
  list-style: none;
  counter-reset: menu-counter;
  transform: rotate(15deg);
}

.main-menu .nav__item {
  margin-bottom: 10px;
  opacity: 0;
  transform: translateX(-15px) translate3d(0, 0, 0);
  transition: all 100ms ease 100ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-menu .nav__item a {
  color: white;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.main-menu .nav__item a::before {
  content: counter(menu-counter, decimal-leading-zero) "//";
  counter-increment: menu-counter;
}

.main-menu.open {
  visibility: visible;
}

.main-menu.open::before {
  -webkit-animation: menu-in-left 500ms ease;
  animation: menu-in-left 500ms ease;
  transform: translate(-50%, -100%) translate3d(0, 0, 0);
  transition-duration: 0ms;
}

.main-menu.open::after {
  -webkit-animation: menu-in-right 500ms ease 100ms;
  animation: menu-in-right 500ms ease 100ms;
  transform: translate(-50%, 0%) translate3d(0, 0, 0);
  transition-duration: 0ms;
}

.main-menu.open .nav__item {
  opacity: 1;
  transform: translateX(0px) translate3d(0, 0, 0);
  transition: all 250ms ease;
}

.main-menu.open .nav__item:nth-child(0n) {
  transition-delay: 250ms;
}

.main-menu.open .nav__item:nth-child(1n) {
  transition-delay: 300ms;
}

.main-menu.open .nav__item:nth-child(2n) {
  transition-delay: 350ms;
}

.main-menu.open .nav__item:nth-child(3n) {
  transition-delay: 400ms;
}

.main-menu.open .nav__item:nth-child(4n) {
  transition-delay: 450ms;
}

.main-menu.open .nav__item:nth-child(5n) {
  transition-delay: 500ms;
}

.main-menu.open .nav__item:nth-child(6n) {
  transition-delay: 550ms;
}

.main-menu.open .nav__item:nth-child(7n) {
  transition-delay: 600ms;
}

.main-menu.open .nav__item:nth-child(8n) {
  transition-delay: 650ms;
}

.main-menu.open .nav__item:nth-child(9n) {
  transition-delay: 700ms;
}

.main-menu.open .nav__item:nth-child(10n) {
  transition-delay: 750ms;
}

.main-menu.open .nav__item:nth-child(11n) {
  transition-delay: 800ms;
}

.main-menu.open .nav__item:nth-child(12n) {
  transition-delay: 850ms;
}

.main-menu.open .nav__item:nth-child(13n) {
  transition-delay: 900ms;
}

.main-menu.open .nav__item:nth-child(14n) {
  transition-delay: 950ms;
}

.main-menu.open .nav__item:nth-child(15n) {
  transition-delay: 1000ms;
}

.main-menu.open .nav__item:nth-child(16n) {
  transition-delay: 1050ms;
}

.main-menu.open .nav__item:nth-child(17n) {
  transition-delay: 1100ms;
}

.main-menu.open .nav__item:nth-child(18n) {
  transition-delay: 1150ms;
}

.main-menu.open .nav__item:nth-child(19n) {
  transition-delay: 1200ms;
}

.main-menu.open .nav__item:nth-child(20n) {
  transition-delay: 1250ms;
}

.main-menu.open .nav__item a {
  transition: all 250ms ease;
}

@-webkit-keyframes menu-in-left {
  0% {
    transform: translate(-150%, -100%) translate3d(0, 0, 0);
  }

  100% {
    transform: translate(-50%, -100%) translate3d(0, 0, 0);
  }
}

@keyframes menu-in-left {
  0% {
    transform: translate(-150%, -100%) translate3d(0, 0, 0);
  }

  100% {
    transform: translate(-50%, -100%) translate3d(0, 0, 0);
  }
}

@-webkit-keyframes menu-in-right {
  0% {
    transform: translate(100%, 0%) translate3d(0, 0, 0);
  }

  100% {
    transform: translate(-50%, 0%) translate3d(0, 0, 0);
  }
}

@keyframes menu-in-right {
  0% {
    transform: translate(100%, 0%) translate3d(0, 0, 0);
  }

  100% {
    transform: translate(-50%, 0%) translate3d(0, 0, 0);
  }
}

.more {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 7px 21px;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  -webkit-animation: reveal 5000ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
  animation: reveal 5000ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

.more::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 20%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
  transition: max-width 0ms ease 250ms, background-color 250ms ease;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.more:hover::before {
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 250ms ease;
}

@-webkit-keyframes reveal {

  0%,
  90% {
    bottom: -30px;
  }

  100% {
    bottom: 15px;
  }
}

@keyframes reveal {

  0%,
  90% {
    bottom: -30px;
  }

  100% {
    bottom: 15px;
  }
}